<!--
@model StudentAdministrationSystem.Models.Student
<div>
	<h2>Student Registration Confirmation</h2>
	<p>The student @Model.FirstName @Model.LastName has been registered.</p>
	<p>Student details:</p>
	<ul>
		<li>Education: @Model.Education</li>
		<li>Semester: @Model.Semester</li>
		<li>Email: @Model.Email</li>
	</ul>
</div>
<div>
	<a asp-action="CreateStudent" class="menu-item">Register another student</a>
	<br />
	<a asp-action="ListStudents" class="menu-item">View List</a>
	<br />
	<a asp-action="Index" class="menu-item">Back to Home</a>
</div>
-->