@model IEnumerable<StudentAdministrationSystem.Models.Student>
<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Education</th>
			<th>Semester</th>
			<th>Email</th>
		</tr>
	</thead>
	<tbody>
		@foreach (StudentAdministrationSystem.Models.Student student in Model!)
		{
			<tr>
				<td>@student.FirstName @student.LastName</td>
				<td>@student.Education</td>
				<td>@student.Semester</td>
				<td>@student.Email</td>
			</tr>
		}
</table>
<div>
	<a asp-action="CreateStudent" class="menu-item">Register another student</a>
	<br />
	<a asp-action="Index" class="menu-item">Back to Home</a>
</div>